body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(#7aceb0, #43685a);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .applicationContainer {
    margin-top: 10%;
    border-radius: 15pt;
    background-color: #0d0713;
    grid-column: 3/11;

    .textContainer1 {
      color: white;
      margin-top: 3%;
      justify-content: center;
      align-items: center;
    }

    .inputBox {
      color: white;
      margin-top: 3%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .todoListBox {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

