@font-face {
  font-family: 'M_PLUS_Rounded_1c';
  src: url("fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
ul {
  list-style-type: none; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(#7aceb0, #43685a);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: 'M_PLUS_Rounded_1c'; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .grid .applicationContainer {
    margin-top: 10%;
    border-radius: 50pt;
    height: 100vh;
    background-color: #0d0713;
    grid-column: 4 / 10;
    padding: 3%; }
    .grid .applicationContainer .textContainers {
      display: flex;
      justify-content: center;
      text-align: center; }
      .grid .applicationContainer .textContainers .textContainer1,
      .grid .applicationContainer .textContainers .textContainer2 {
        font-size: 50pt;
        color: #ffffff;
        text-align: left; }
        .grid .applicationContainer .textContainers .textContainer1 #datetime, .grid .applicationContainer .textContainers .textContainer1 #datetime2,
        .grid .applicationContainer .textContainers .textContainer1 #taskText, .grid .applicationContainer .textContainers .textContainer1 #flowText,
        .grid .applicationContainer .textContainers .textContainer2 #datetime,
        .grid .applicationContainer .textContainers .textContainer2 #datetime2,
        .grid .applicationContainer .textContainers .textContainer2 #taskText,
        .grid .applicationContainer .textContainers .textContainer2 #flowText {
          margin: 0; }
      .grid .applicationContainer .textContainers .textContainer1 {
        padding-right: 3.8vw; }
      .grid .applicationContainer .textContainers .textContainer2 {
        padding-left: 3.8vw;
        margin-bottom: 5vh; }
    .grid .applicationContainer .inputBox {
      display: flex;
      justify-content: center;
      align-items: center; }
      .grid .applicationContainer .inputBox input[type=text] {
        padding-left: 0.4vw;
        color: #777779;
        background-color: #0d0713;
        border: solid 1px #381d6b;
        border-radius: 10pt;
        height: 4vh;
        width: 17vw; }
      .grid .applicationContainer .inputBox .addTodo {
        margin-left: 0.5vw;
        height: 4.5vh;
        width: 4.5vh;
        background-color: #9e78cf;
        border: solid 1px #381d6b;
        border-radius: 10pt;
        color: #ffffff;
        font-size: 20pt; }
    .grid .applicationContainer .todoListBox {
      margin-top: 5vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 2vw; }
      .grid .applicationContainer .todoListBox .numberTodos {
        color: #ffffff;
        font-size: 15pt;
        margin-left: -11.5vw;
        margin-bottom: 0; }
      .grid .applicationContainer .todoListBox .toDos {
        background-color: #16101c;
        color: #9e78cf;
        padding: 1vw;
        font-size: 15pt;
        border-radius: 10pt;
        margin-bottom: 1vh;
        width: 19vw;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .grid .applicationContainer .todoListBox .toDos .todoEditButtons {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 0.5vw; }
          .grid .applicationContainer .todoListBox .toDos .todoEditButtons .toDoButtonCheck {
            background-color: #16101c;
            border: solid 1px #16101c;
            border-radius: 10pt;
            color: #9e78cf;
            font-size: 20pt; }

/*# sourceMappingURL=main.css.map */
